body {
    color:rgb(14, 59, 144);
    background-color:beige;
    margin: 0;                  
    font-size: 2.5em;
    display:contents;    
}

@media screen and (min-width: 576px) {
   body {
      
   }
}


@media screen and (min-width: 992) {
   body {
     
   }
}

